{
  "openapi": "3.0.3",
  "info": {
    "title": "Indoculturalfinder RESTful API",
    "description": "OpenAPI for Indoculturalfinder RESTful API",
    "version": "1",
    "contact": {
      "name": "Indoculturalfinder - Admin",
      "email": "echo.ilmanaqilaa2@gmail.com",
      "url": "https://www.linkedin.com/in/muhammad-ilman-aqilaa-0132b9203/"
    }
  },
  "servers": [
    {
      "url": "https://be.indoculturalfinder.my.id/api",
      "description": "Indoculturalfinder RESTful API Server"
    },
    {
      "url": "https://asia-southeast2-project3-403605.cloudfunctions.net/",
      "description": "Indoculturalfinder Auth"
    }
  ],
  "externalDocs": {
    "description": "Website Us",
    "url": "https://indoculturalfinder.github.io/"
  },
  "paths": {
    "/GCFPostHandler": {
      "post": {
        "tags": ["Authentication"],
        "summary": "User Login",
        "description": "Endpoint for user login",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success user login",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginOutput"
                }
              }
            }
          }
        }
      }
    },
    "/cultures": {
      "get": {
        "tags": ["Cultures"],
        "summary": "Get Cultures with Filters",
        "description": "Get cultures data with optional filters",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "description": "Category name to filter by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "culture_name",
            "in": "query",
            "description": "Culture name to filter by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "province_name",
            "in": "query",
            "description": "Province name to filter by",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success get cultures with filters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessGetCulturesWithFilters"
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "IndoculturafinderAuth": []
          }
        ],
        "tags": ["Cultures"],
        "summary": "Create New Culture",
        "description": "Create new culture",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrUpdateCulture"
              },
              "examples": {
                "example1": {
                  "value": {
                    "province_id": 1,
                    "category_id": 4,
                    "name": "New Culture",
                    "img": "https://example.com/image.jpg",
                    "video": "https://www.youtube.com/embed/example",
                    "desc": "Description of new culture"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success create culture",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessCreateOrUpdateCulture"
                },
                "examples": {
                  "example1": {
                    "value": {
                      "status": true,
                      "message": "Culture created successfully"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cultures/{cultureId}": {
      "get": {
        "tags": ["Cultures"],
        "summary": "Get Culture by ID",
        "description": "Get Culture data by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/CultureId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success get culture by ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessGetCultureById"
                },
                "examples": {
                  "example1": {
                    "value": {
                      "status": true,
                      "message": "Data ditemukan",
                      "culture": {
                        "id": 1,
                        "province_id": 1,
                        "province_name": "Jawa Barat",
                        "category_id": 4,
                        "category_name": "dance Adat",
                        "name": "Tari Jaipong",
                        "img": "https://cdnwpedutorenews.gramedia.net/wp-content/uploads/2021/09/29212602/tari-jaipong.jpg",
                        "video": "https://www.youtube.com/embed/4EOeWTB5t7U?si=bw9LoBJqYWd33u-x",
                        "desc": "Tari jaipong merupakan dance khas jawa barat"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "IndoculturafinderAuth": []
          }
        ],
        "tags": ["Cultures"],
        "summary": "Update Culture by ID",
        "description": "Update Culture data by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/CultureId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrUpdateCulture"
              },
              "examples": {
                "example1": {
                  "value": {
                    "province_id": 1,
                    "category_id": 4,
                    "name": "Updated Culture",
                    "img": "https://example.com/updated-image.jpg",
                    "video": "https://www.youtube.com/embed/updated-example",
                    "desc": "Updated description of culture"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success update culture by ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessCreateOrUpdateCulture"
                },
                "examples": {
                  "example1": {
                    "value": {
                      "status": true,
                      "message": "Culture updated successfully"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "IndoculturafinderAuth": []
          }
        ],
        "tags": ["Cultures"],
        "summary": "Delete Culture by ID",
        "description": "Delete Culture data by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/CultureId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success delete culture by ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessDelete"
                },
                "examples": {
                  "example1": {
                    "value": {
                      "status": true,
                      "message": "Culture deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Failed delete culture by ID, not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessDelete"
                },
                "examples": {
                  "example1": {
                    "value": {
                      "status": false,
                      "message": "Culture not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/categories": {
        "get": {
          "tags": ["Categories"],
          "summary": "Get All Categories",
          "description": "Get All Categories data",
          "parameters": [],
          "responses": {
            "200": {
              "description": "Success get all categories",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/SuccessGetAllCategories"
                  },
                  "examples": {
                    "success": {
                      "value": {
                        "status": true,
                        "message": "Data ditemukan",
                        "categories": [
                          {
                            "id": 1,
                            "name": "Category 1",
                            "description": "Description of Category 1"
                          },
                          {
                            "id": 2,
                            "name": "Category 2",
                            "description": "Description of Category 2"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "post": {
          "security": [
            {
              "IndoculturafinderAuth": []
            }
          ],
          "tags": ["Categories"],
          "summary": "Add new Category",
          "description": "Add new category data",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                },
                "examples": {
                  "example1": {
                    "value": {
                      "name": "New Category",
                      "description": "Description of new category"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success add new category",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/SuccessAddCategory"
                  },
                  "examples": {
                    "success": {
                      "value": {
                        "status": true,
                        "message": "Category added successfully",
                        "category": {
                          "id": 1,
                          "name": "New Category",
                          "description": "Description of new category"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
    },
    "/categories/{categoryId}": {
        "get": {
          "tags": ["Categories"],
          "summary": "Get Category by ID",
          "description": "Get Category data by ID",
          "parameters": [
            {
              "$ref": "#/components/parameters/CategoryId"
            }
          ],
          "responses": {
            "200": {
              "description": "Success get category by ID",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/SuccessGetCategoryById"
                  },
                  "examples": {
                    "success": {
                      "value": {
                        "status": true,
                        "message": "Data ditemukan",
                        "category": {
                          "id": 1,
                          "name": "Category 1",
                          "description": "Description of Category 1"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "put": {
          "security": [
            {
              "IndoculturafinderAuth": []
            }
          ],
          "tags": ["Categories"],
          "summary": "Update Category",
          "description": "Update category data by ID",
          "parameters": [
            {
              "$ref": "#/components/parameters/CategoryId"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                },
                "examples": {
                  "example1": {
                    "value": {
                      "name": "Updated Category Name",
                      "description": "Updated description of category"
                    }
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success update category",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/SuccessUpdateCategory"
                  },
                  "examples": {
                    "success": {
                      "value": {
                        "status": true,
                        "message": "Category updated successfully"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "delete": {
          "security": [
            {
              "IndoculturafinderAuth": []
            }
          ],
          "tags": ["Categories"],
          "summary": "Delete Category",
          "description": "Delete category data by ID",
          "parameters": [
            {
              "$ref": "#/components/parameters/CategoryId"
            }
          ],
          "responses": {
            "200": {
              "description": "Success delete category",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/SuccessDeleteCategory"
                  },
                  "examples": {
                    "success": {
                      "value": {
                        "status": true,
                        "message": "Category deleted successfully"
                      }
                    }
                  }
                }
              }
            }
          }
        }
    },
    "/provinces": {
        "get": {
          "tags": ["Provinces"],
          "summary": "Get All Provinces",
          "description": "Get All Provinces data",
          "parameters": [],
          "responses": {
            "200": {
              "description": "Success get all provinces",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/SuccessGetAllProvinces"
                  },
                  "examples": {
                    "success": {
                      "value": {
                        "status": true,
                        "message": "Data ditemukan",
                        "provinces": [
                          {
                            "id": 1,
                            "name": "Jawa Barat"
                          },
                          {
                            "id": 2,
                            "name": "Jawa Timur"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "post": {
          "security": [
            {
              "IndoculturafinderAuth": []
            }
          ],
          "tags": ["Provinces"],
          "summary": "Add a Province",
          "description": "Add new province data",
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Province"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Province successfully added",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Province"
                  }
                }
              }
            }
          }
        }
    },
    "/provinces/{provinceId}": {
        "get": {
          "tags": ["Provinces"],
          "summary": "Get Province by ID",
          "description": "Get Province data by ID",
          "parameters": [
            {
              "$ref": "#/components/parameters/ProvinceId"
            }
          ],
          "responses": {
            "200": {
              "description": "Success get province by ID",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/SuccessGetProvinceById"
                  },
                  "examples": {
                    "success": {
                      "value": {
                        "status": true,
                        "message": "Data ditemukan",
                        "province": {
                          "id": 1,
                          "name": "Jawa Barat"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "put": {
          "security": [
            {
              "IndoculturafinderAuth": []
            }
          ],
          "tags": ["Provinces"],
          "summary": "Update a Province",
          "description": "Update province data by ID",
          "parameters": [
            {
              "$ref": "#/components/parameters/ProvinceId"
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Province"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Province successfully updated",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Province"
                  }
                }
              }
            }
          }
        },
        "delete": {
          "security": [
            {
              "IndoculturafinderAuth": []
            }
          ],
          "tags": ["Provinces"],
          "summary": "Delete a Province",
          "description": "Delete province data by ID",
          "parameters": [
            {
              "$ref": "#/components/parameters/ProvinceId"
            }
          ],
          "responses": {
            "200": {
              "description": "Province successfully deleted",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Province"
                  }
                }
              }
            }
          }
        }
    }
  },
  "components": {
    "securitySchemes": {
      "IndoculturafinderAuth": {
        "description": "Authentication for Indoculturafinder RESTful API",
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    },
    "parameters": {
      "CultureId": {
        "name": "cultureId",
        "in": "path",
        "required": true,
        "description": "Culture Id for operation",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 100
        }
      },
      "CategoryId": {
        "name": "categoryId",
        "in": "path",
        "required": true,
        "description": "Category Id for operation",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 100
        }
      },
      "ProvinceId": {
        "name": "provinceId",
        "in": "path",
        "required": true,
        "description": "Province Id for operation",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 100
        }
      },
      "ProvinceName": {
        "name": "provinceName",
        "in": "path",
        "required": true,
        "description": "Province Name for operation",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 100
        }
      },
      "ProvinceName2": {
        "name": "provinceName",
        "in": "path",
        "required": true,
        "description": "Province Name for operation",
        "schema": {
          "type": "string",
          "minLength": 1,
          "maxLength": 100
        }
      }
    },
    "schemas": {
      "LoginInput": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "LoginOutput": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          }
        }
      },
      "Culture": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "province_id": {
                "type": "integer"
              },
              "province_name": {
                "type": "string"
              },
              "category_id": {
                "type": "integer"
              },
              "category_name": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "img": {
                "type": "string"
              },
              "video": {
                "type": "string"
              },
              "desc": {
                "type": "string"
              }
            }
      },
      "SuccessGetCulturesWithFilters": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "cultures": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Culture"
            }
          }
        }
      },
      "SuccessGetAllCultures": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "cultures": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Culture"
            }
          }
        }
      },
      "CreateOrUpdateCulture": {
        "type": "object",
        "properties": {
          "province_id": {
            "type": "integer"
          },
          "category_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "img": {
            "type": "string"
          },
          "video": {
            "type": "string"
          },
          "desc": {
            "type": "string"
          }
        }
      },
      "SuccessGetCultureById": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "culture": {
            "$ref": "#/components/schemas/Culture"
          }
        }
      },
      "SuccessCreateOrUpdateCulture": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "SuccessDelete": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "SuccessAddCategory": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "category": {
            "$ref": "#/components/schemas/Category"
          }
        }
      },
      "SuccessUpdateCategory": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "SuccessDeleteCategory": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "SuccessGetAllCategories": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Category"
            }
          }
        }
      },
      "SuccessGetCategoryById": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "category": {
            "$ref": "#/components/schemas/Category"
          }
        }
      },
      "Province": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "SuccessGetAllProvinces": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "provinces": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Province"
            }
          }
        }
      },
      "SuccessGetProvinceById": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "province": {
            "$ref": "#/components/schemas/Province"
          }
        }
      }
    }
  }
}
